<div class="container">
    <div class="row">
        <br><br>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card text-white bg-info mb-3 text-center">
                <div class="card-header">
                    <h3> {{ the_product.pdetails }} </h3>
                </div>
                <div class="card-body text-center">
                    <h5>Made by {{ comp.name }}</h5>
                    <h5>Priced at  ${{ the_product.price }}</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-warning" [routerLink]="['/update-product', { id : id}]"> Update Product Details </a> | 
                  <button class="btn btn-warning"(click)="deleteButton()"> Delete Product </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br><br>
    </div>
    <div class="row" *ngIf=(deletecomp)>
        <div class="col-sm-12">
            <div class="card text-white bg-danger mb-3 text-sm-center">
                <div class="card-body">
                    <h5 class="card-title">Are you sure you would like to delete this product from the database?</h5>
                    <button class="btn btn-dark" (click)="yesDelete()"> Yes </button> |
                    <button class="btn btn-success" (click)="noDelete()"> No </button>
                </div>
            </div>
        </div>
    </div>
</div>
