<!-- <div *ngIf="notify" class="alert alert-success container marge">
    {{ notify }}
</div>
<p class="container">home page!</p> -->

<div class="container">
    <div class="row">
        <div class="col-4 offset-4 text-center">
            <br>
            <br>
            <br>
            <br>
            <a class="btn btn-primary" routerLink="app-users-list"> Manage Users </a>
            <br>
            <br>
            <hr>
            <br>
            <a class="btn btn-success" routerLink="companies-list"> Manage Companies </a>
            <br>
            <br>
            <hr>
            <br>
            <a class="btn btn-warning" routerLink="products-list"> Manage Products </a>

        </div>
    </div>
</div>
